/* 
    Document   : main
    Created on : 3-jul-2012
    Author     : Team1
    Copyright  : 2012 by iRail vzw/asbl. All rights reserved.
    Description:
        Purpose of the stylesheet follows.
*/

/*
	**GENERAL INFO**
	Main color	: 	red				#a42434
	2nd color	: 	darker red  	#6e202a
	Extra color	: 	grey 	 		#545454
*/


/**
 * Headerbar
 */
 body{
     background: url('../images/bgbeige.png');
	 margin:0;
	 font-family: "Verdana", Helvetica, Arial, Sans-serif;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 14px;
 }
 
 h4 {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
 
a{
	text-decoration:none;
	color:inherit;
}

/**
* RESET CSS
*/

figure{
	display: block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}

h1{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}


@font-face {
    font-family: 'Londrina';
    src: url('LondrinaSolid-Regular-webfont.eot');
    src: url('LondrinaSolid-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LondrinaSolid-Regular-webfont.woff') format('woff'),
         url('LondrinaSolid-Regular-webfont.ttf') format('truetype'),
         url('LondrinaSolid-Regular-webfont.svg#LondrinaSolidRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
 ul, menu, dir {
	display: block;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	padding:0;
}

/**
* BASIC STYLES
*/

.floatleft{
	float:left;
}

.clearboth{
 	clear:both;
 }
 
 .mask{
 	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(20, 20, 20, 0.7);
	z-index:1999;
 }
 
 
/**
* STYLE
*/

.ui-bar-a { 
    background: url('../images/bgheader.jpg');
}

h2{
	font-size:29px;
	font-family:'Londrina';
	text-align:center;
	letter-spacing:1px;
}

#day{
	font-size:26px;
	width:60%;
	margin:0;
	text-align:left;
	float:left;
	line-height:1.9em;
}

#dayHeader{
	float:right;
	display:block;
	margin-right:10px;
	line-height:1.9em;
	color:#FFF;
	font-family: "Bebas";
	letter-spacing: 1px;
	font-size: 20px;
}

#headerbar{
    height: 38px;
	background: url('../images/bgheader.jpg');
	position:fixed;
	top:0;
	left:0;
	right:0;
}

#headerbarlogo {
    float:left;
    padding-left: 15px;
}

#plus{
	font-style: normal;
	font-weight: bold;
	font-size: 20pt;
}

#homeicon {
    float:left;
    padding-top: 6px;
    padding-right: 30px;
    padding-left: 30px;
}

#abouticon {
    float:right;
    padding-top: 6px;
    padding-right: 30px;
    padding-left: 30px;
}

#homeline {
    float:left;
}

#content, #infocontainer{
	margin-top:50px;
}

#footer{
	position:fixed;
	height:53px;
	bottom:0;
	left:0;
	right:0;
	z-index:200000;
}

#daychooser{
	margin:0 auto;
	height:53px;
	width:166px;
	background-image:url(../images/bottomLogo.png);
	background-position:center 0;
	font-size:24px;
	line-height:3.3em;
	text-align:center;
	font-family:'Londrina';
	text-transform:uppercase;
	letter-spacing:1px;
	color:#a42434;
	z-index:2000;
	cursor:pointer;
}

#hiddenDates{
	display:none;
	width:70%;
	padding-top:5px;
	padding-bottom:20px;
	border-top:7px solid #c49a6c;
	border-radius: 5px 5px 0 0;
	height:auto;
	margin:0 auto;
	z-index:20001;
	background-image:url(../images/bgheader2.jpg);
}

#footer a{
	display:block;
	width:100%;
	height:30px;
	font-size:24px;
	line-height:1.5em;
	text-align:center;
	font-family:'Londrina';
	text-transform:uppercase;
	letter-spacing:1px;
	padding-bottom:2px;
	border-bottom: 1px dashed #c49a6c;
}

#logo{
	height:111px;
	width:135px;
	margin:5px auto 0 auto;
}

#logo img{
	height:111px;
	width:135px;
}

#beginMenu{
	width:90%;
	margin:7px auto 0 auto;
}

.menu_icon{
	width:46%;
	background-color:#a42434;
	height:120px;
	float:left;
	margin-bottom:20px;
	-webkit-box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.3);    
    box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.3);
	border-radius:5px;
	list-style-type:none;
	text-align:center;
	color:#FFF;
}

.menu_icon h1{
	margin:7px 0 7px 0;
	color:#DDDAC7;
	font-family:'Londrina';
	font-weight:normal;
	font-size:16px;
	text-transform:uppercase;
	letter-spacing: 1px;
}

.menu_icon:nth-child(2n+1){
	margin-right:8%;
}

.menu_icon figure{
	width:78px;
	height:78px;
	padding-top:10px;
	margin:0 auto;
}

.menu_icon img{
	width:78px;
	height:78px;
	margin:0 auto;
}


/**
 * Box with shadow for adding content, 80% of height device
 */
.contentbox{
    -webkit-box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.3);    
    box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	border-top: 8px solid #c49a6c;
    width: 92%;
	max-width:960px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    background-image:url(../images/bgheader2.jpg);
    color: #A42434;
    min-height: 90%;
}

.live{
	margin-top:50px;
}

.cboxlong{
	-webkit-box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.3);    
    box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 92%;
	max-width:960px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
	margin-bottom:30px;
   	background-image:url(../images/bgheader2.jpg);
    border-top: 8px solid #c49a6c;
    color: #A42434;
}

	.widthhundred{
		width: 100%;
		max-width: 100%;
	}

/**
 * Buttons for the contentbox
 */
.buttonbox {
    -webkit-box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);    
    box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    background-color: #A42434;
    color: white;
    border-radius:5px;
    padding:8px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
	margin-bottom:10px;
	text-align:center;
	font-size:18px;
	font-family:'Londrina';
	text-transform:uppercase;
	letter-spacing:1px;
}
	.today{
		background-color: white;
		background-image: url(../images/today.png);
		background-repeat: no-repeat;
		background-position: 10px 10px;
		color: #A42434;
	}

/**
*TIMELINE
**/

#timelinecontainer{
	position:absolute;
	overflow:y;
	left:0;
	right:0;
	top:38px;
    bottom:45px;
}

#timelinediv{
        position:absolute;
        top:5px;
        bottom:0;
        left:35px;
        right:0px;
		overflow:auto;
		margin-left: -5px;
      }

#timesdiv{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
		overflow:auto;
		width:69px;
		padding-right:5px;
		padding-left:10px;
		border-right:1px solid #AAA;
      }

.timelineobject {
	position:absolute;
}
      
      	/*-- style of an item --*/
      	.timelinebox {
			overflow:hidden;
			-webkit-box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);
			box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);
			position:absolute;
			padding:10%;
			min-height: 130px;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin-right:5px;
			margin-left:5px;
			margin-bottom:5px;
			/*margin:0 auto;
			height:85%;*/
			font-size:11pt;
			background-image:url(../images/bgheader2.jpg);
			border-bottom-left-radius: 5px;
    		border-bottom-right-radius: 5px;
			border-top: 8px solid #c49a6c;
      	}
	  
	   .deleteBtn{
 			cursor:pointer;
			position:absolute;
			top:5px;
			right: -30px;
			width:15px;
			height:15px;
			background-image:url(../images/delete.png);
			background-repeat: no-repeat;
			background-size: 12px;
			padding: 18px;
 		}
		


		.timelineinfo{
			position:absolute;
			top: 20px;
			width: 80%;
			margin-top: 7px;
			color: #555;
		}

			.timelineinfo h4{
				font-weight: medium;
				width: 100%;
				border-top: 1px dashed #BBB;
				border-bottom: 1px dashed #BBB;
				padding: 10px 0;
				font-size: 11pt;
			}

			.info_menu_map, .info_menu_info{
				color: #FFF;
				background-color: #A42434;
				padding: 5px 10% 5px 20%;
				font-family: "Bebas";
				font-size: 24px;
				text-transform: uppercase;
				letter-spacing: 2px;
				width: 10%;
				float: left;
			}

			.info_menu_info{
				right: 9%;
				position: absolute;
				background-image: url(../images/info_icon.svg);
				background-repeat: no-repeat;
				background-position: 10px 10px;
			}

			.info_menu_map{
				position: absolute;
				background-image: url(../images/map_icon.svg);
				background-repeat: no-repeat;
				background-position: 10px 10px;
			}

			.info_menu{
				width:90%;
				height: 40px;
				margin:20px auto 20px auto;
				display: block;
			}

			.moreInfoButton{
				background-image: url(../images/info_searchresults.png);
				background-repeat: no-repeat;
				width: 35px;
				height: 35px;
				float: right;
				margin: 4px 30px 0 0;
				text-indent: -999px;
			}


			.info_menu_map:active,
			.info_menu_info:active {
				background-color: white;
				color: #A42434;
			}

		h3{
			float:left;
			margin:0;
			font-size:1.1em;
			font-weight:normal;
		}

#back{
	color:#FFF;
	padding-right:10px;
	margin-left:-15px;
	margin-top: 6px;
	font-family: "Bebas";
	font-size: 18pt;
}

#listdiv {
    width: 100%;
	height:auto;
}

	.timelinetime{
		position:absolute;
		text-align:right;
		width:35px;
		color:#FFF;
	}
 
	.resultitem{
		width:96%;
		padding:2%;
 		border-bottom: 1px dashed #BBB;
 	}
 	
	.resultitem:nth-child(2n){
		background-color:rgba(230,230,230,0.4);
	}
	
 .error{
	margin:40px auto 0 auto;
	width:70%;
	font-size:20px;
    font-family:'Londrina';
	color:#fff;
	letter-spacing:1px;
    text-align:center;
}

/*
* Timeline more info panel
*/

#moreInfo{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	 background: url('../images/bgbeige.png');
	display:none;
	z-index:1998;
}

.moreinfo{
	display:block;
	width:80%;
	background-color:#a42434;
	text-align:center;
	padding: 5px 0 5px 0;
	color:#d9d9c3;
	line-height:1.2em;
	position:absolute;
	top:130px;
	font-family:'Bebas';
	font-size:19px;
	letter-spacing: 1px;
}

#line{
	width:98%;
	height:1px;
	border-bottom:4px solid #a42434;
	margin:-20px auto 0 auto;
}

#info_container{
	width:100%;
	height:auto;
	margin: 0 auto;
}

#extra_info{
	color:#6e202a;
	display:none;
	font-size: 14pt;
}

#extra_map{
	height:330px;
	width:100%;
	background-color:#FFF;
	margin-bottom:40px;
}

/*
* Searchresults
*/

.nosearchresults{
	margin:15px auto 20px auto;
	width:80%;
	font-size:25px;
    font-family:'Londrina';
	letter-spacing:1px;
	color:#a42434;
    text-align:center;
    text-transform:none;
}

#errorImg{
	width:74px;
	height:74px;
	margin:0 auto;
}
 
/**
 * Searchform
 */
 #filterForm{
 	width:95%;
	margin:0 auto;
 }
 
 #beginHour, #beginMin, #endHour, #endMin{
 	width:40%;
	max-width:190px;
 }
 
 .formtextfield{
    -webkit-box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);    
    box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    color: #333;
    border-radius:5px;
    padding:4px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    text-align:center;
    font-size:15px;
 }
 
 .small{
 	width:70%;
	float:left;
 }
 
 .formtext, .formtextfield{
    font-size:25px;
    font-family:'Londrina';
    text-align:left;
    text-transform:uppercase;
	margin-bottom:10px;
 }



.btn{
	display:block;
	width:100%;
	height:40px;
    background-color: #A42434;
	text-align:center;
    color: #FFF;
    font-family:'Londrina';
	letter-spacing:1px;
	font-size:25px;
	line-height:1.9em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

	.dashes{
		background-image: url(../images/dashes.png);
		background-repeat: no-repeat;
		background-position: center;
	}

 .formtext select{
    -webkit-box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);    
    box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    color: grey;
    border-radius:5px;
    padding:8px;
    margin-left:auto;
    margin-right:10px;
    margin-bottom:10px;
    text-align:center;
    font-size:16px;
    background: transparent;
    width: 20%;
    border: 1px solid #ccc;
 }
 
 .resultinfo{
 	width: 60%;
	float:left;
 }

 	.resulttitle{
 		font-weight: bold;
 		font-size: 14px;
 		margin: 10px 0 10px 10px;
 		min-height: 40px;
 		width:60%;
 	}

 	.eventTime{
		margin-left: 10px;
	}

 	.resultsubscription{
 		color: #777;
		padding: 10px 0 10px 0;
		margin: 0 0 10px 40px;
		font-style: italic;
 	}

 	.eventPlace{
		font-size:12px;
		text-transform: uppercase;
		margin: 0 0 10px 40px;
	}

.resultbutton{
	width:90px;
	padding:3px;
	background-color: #A42434;
    color: white;
    font-family:'Londrina';
	letter-spacing:1px;
	font-size:17px;
	line-height:1.6em;
	text-align:center;
	text-transform:uppercase;
	margin-top:5px;
	cursor:pointer;
	float:right;
}

.added{
	background-color: #ccc;
	color:#333;
	cursor:default;
}

#divDates{
	padding:0 0 20px 0;
	margin:0 auto;
}

#livemap, #toiletmap{
	width:100%;
	height:300px;
	margin:0 auto;
	background-position:top;
	background-repeat:no-repeat;
}

/**
*TOILETS
**/

.titels{
	background-repeat: no-repeat;
	background-position: 10px 20px;
	padding: 15px;
	text-indent: 25px;
	min-width: 300px;
	margin: 0 auto 0 auto;
	font-size: 20px;
	max-width: 400px;
	font-family: "verdana";/*
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #A42434;
	border-left: 1px solid #A42434;
	border-right: 1px solid #A42434;*/
}

	.map_info_p{
		width: 230px;
		text-align: center;
		margin: -10px auto 10px auto;
		font-size: 12px;
		padding: 5px;
		color: white;
		background-color: #A42434;
		font-weight: normal;
		
	}

.resultExtra{
	display:none;
	background-image: none;
}

#toilets{
	background-image: url(../images/wc_icon.png);
}

#events{
	background-image: url(../images/event_icon.png);

}
.red{
	color:#a42434;
}

/**
*ABOUT
**/

.abouttitle{
	font-family: "Bebas";
	font-size: 29px;
	margin-top: 40px;
	display:block;
	float:none;
}

.hashtag{
}

.about{
	padding-bottom: 70px;
	margin: 0 10% 0 10%;
}
